<launch>
<master auto="start"/>

<include file="$(find delta_lidar)/launch/delta_lidar.launch" />

<node name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
<rosparam file="$(find ros_arduino_python)/config/my_arduino_params.yaml" command="load" />
</node>

<node pkg="tf" type="static_transform_publisher" name="base_frame_2_laser_link" args="-0.05 0 0.13 0 0 0 /base_link /laser 50"/>
  <param name="/use_sim_time" value="true" />  
      <node name="cartographer_node" pkg="cartographer_ros"  
          type="cartographer_node" args="  
              -configuration_directory $(find cartographer_ros)/configuration_files  
              -configuration_basename lidar_2d.lua"  
          output="screen">  
        <remap from="scan" to="scan" />  
      </node>  
      <!--node name="rviz" pkg="rviz" type="rviz" required="true"  
          args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" /-->  
</launch>          
